/* The above code is a CSS stylesheet. It sets the styling for various elements on a webpage. Here is a
breakdown of what the code is doing: */
/* The CSS code `*{}` is a universal selector that targets all elements on the webpage. */
*{
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    font-family: 'Chela One', cursive;
}


/* Pit */

/* The CSS code `body{}` is targeting the `<body>` element of the webpage. It sets the background image
of the body using a linear gradient. The gradient starts at a 45-degree angle and has three colors:
#4ab56c, #57a87e, and #0e5734. The background image is set to not repeat and is fixed in place. */

body{
    background-image: linear-gradient(45deg, #4ab56c ,#57a87e ,#0e5734);
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* The `::selection` selector is used to style the portion of text that is selected by the user. In
this case, it sets the color of the selected text to `#0e5734` (a shade of green) and the background
color to `rgb(0, 0, 0)` (black). */
::selection {
    color: #0e5734;
    background: rgb(0, 0, 0);
}

h1 {
    color: white;
    font-family: Monaco;
    text-align: center;
    font-size: 350%;
}

h2 {
    color: white;
    font-family: Monaco;
    text-align: center;
    font-size: 250%;
}

h3{
    color: white;
    font-family: Monaco;
    text-align: center;
    font-size: 50px;
}

h4{
    color: white;
    font-family: Monaco;
    text-align: center;
    font-size: 25px;
}

h5{
    color: white;
    font-family: Monaco;
    text-align: center;
    font-size: 20px;
}


.info{
    border: 10px solid;
    border-radius: 20px;
    color: black;
    width:	auto;
    height: 85%;
    margin-top: 1%;
    display: flexbox;
    justify-content: center;
}

.infoM{
    border: 10px solid;
    border-radius: 20px;
    color: black;
    width:	auto;
    height: 85%;
    margin-top: 1%;
    text-align: left;
    display: flexbox;
    justify-content: left;
}




.labelText{
    font-family: Monaco;
    color: white;
    font-size: 25px;
    display: flexbox;
    text-align: left;
    margin-left: 0px;
}

.inputbox{
    border: 3px solid darkslategray;
    border-radius: 50px;
    width:40%;
    height: 40px;
    font-family: Monaco;
    font-size: 30px; 
    box-shadow: 10px 7px 15px rgb(54, 54, 54);
    text-align: center;
}


.inputBox{
    border: 3px solid darkslategray;
    border-radius: 50px;
    width:95%;
    height: 60px;
    font-family: Monaco;
    font-size: 25px;
    box-shadow: 10px 7px 15px rgb(54, 54, 54);
    justify-content: center;    
        text-align: center;

}


.iNputbox{
    border: 3px solid darkslategray;
    border-radius: 50px;
    width:40%;
    height: 75px;
    font-family: Monaco;
    font-size: 25px;
    box-shadow: 10px 7px 15px rgb(54, 54, 54);
    text-align: center;
}

.ebox{
    border: 3px solid darkslategray;
    border-radius: 100px;
    width:40%;
    height: 40px;
    font-family: Monaco;
    font-size: 30px;
}

/* For Any Button*/
#buttons{
    transition: 0.5s;
    cursor: pointer;
    width:	50%;
	height: 5%;
	margin-top: 1.5%;
	font-size: 100px;
	font-family: Monaco, Bold;
    justify-content: center;
    text-align: center;
    background: linear-gradient(45deg, green, #0e5734); 
    border: 10px solid;
    border-radius: 100px;
    box-shadow: 15px 18px 15px rgb(54, 54, 54);
}

/* For Any Button*/
#buttons:hover{
    transition: 0.5s;
    background: linear-gradient(45deg, #0e5734, green);
    color: limegreen;
    border: 10px solid black;
    border-radius: 100px;
    box-shadow: 25px 25px 15px rgb(54, 54, 54);
    transform: scale(1.1);
    transform: rotateZ(5deg);
}

/*For link buttons*/
.buttonl{
    transition: 0.5s;
    cursor: pointer;
    width:	auto;
	height: auto;
	margin-top: 1%;
	font-size: 25px;
	font-family: Monaco;
    justify-content: baseline;
    text-align: center;
    background: linear-gradient(45deg, green, #0e5734); 
    border: 5px solid;
    border-radius: 100px;
    box-shadow: 15px 18px 15px rgb(54, 54, 54);
}

/* For Submit*/
.buttons{
    transition: 0.5s;
    cursor: pointer;
    width:	50%;
	height: 5%;
	margin-top: 1.5%;
	font-size: 100px;
	font-family: Monaco, Bold;
    justify-content: center;
    background: linear-gradient(45deg, green, #0e5734); 
    border: 10px solid;
    border-radius: 100px;
    box-shadow: 15px 18px 15px rgb(54, 54, 54);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* For Submit*/
.buttons:hover{
    transition: 0.5s;
    background: linear-gradient(45deg, #0e5734, green);
    color: limegreen;
    border: 10px solid black;
    border-radius: 100px;
    box-shadow: 25px 25px 15px rgb(54, 54, 54);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.button-wrapper {
    text-align: center;
    display: inline-block; 
    margin: 10px;
}



.dropdown{
    transition: 0.1s;
    border: 0px solid white; 
    width: 200px;
    height: 45px;
    border-radius: 15px;
    font-family: Monaco;
    font-size: 25px;
    text-align: center;
}

.dropdown:hover{
    transition: 5s;
    transform: scale(1.1);
    text-align: center;    
    justify-content: center;    
}

.dropdownformat{
    border: 100px solid black;
    border-radius: 10px;
    font-family: Monaco;
    font-size: 25px;
    width: auto;
    height: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.dropDown{
    transition: 0.5s;
    border: 0px solid white;
    border-radius: 20px;
    width: 110px;
    height: 65px;    
    font-family: Monaco;
    font-size: 30px;
    padding-left: 20px;
    box-shadow: 10px 10px 15px rgb(54, 54, 54);
    text-align: center;
}

.dropDown:hover{
    transition: 0.5s;
    transform: scale(1.1);
}

.topnav {
    background-color: #333;
    overflow: hidden;
    float: none;
    position: absolute;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    top: 50%;
    left: 50%;
    font-size: 30px;
    
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }


/* Matchscout */


.blankinput{
    pointer-events: none;
    border: 0px solid white;
    border-radius: 10px;
    box-shadow: 15px 12px 15px rgb(54, 54, 54);
    width:50px;
    height: 50px;
    font-size: 55px;
    font-family: Monaco;
    margin: 1%;
    text-align:center;
    transform: translate(0%, -15%);
    
}


.buttonsm{
    transition: 0.5s;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(125, 66, 66);
    cursor: pointer;
    width:50px;
	height: 50px;
	font-size: 50px;
    margin: 1%;
	font-family: Monaco;
    text-align: center;
    justify-content: center;
    box-shadow: 15px 12px 15px rgb(54, 54, 54);
}

.buttonsm:hover{
    transition: 0.5s;
    background: linear-gradient(45deg, #660404, red);
    color: black;
    border: 1px solid black;
    border-radius: 100px;
    box-shadow: 25px 25px 15px rgb(54, 54, 54);
    transform: scale(1.1);
}


.buttonsp{
    transition: 0.5s;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #04AA6D;
    cursor: pointer;
    width:50px;
	height: 50px;
	font-size: 50px;
    margin: 1%;
	font-family: Monaco;
    text-align: center;
    justify-content: center;
    box-shadow: 15px 12px 15px rgb(54, 54, 54);
}

.buttonsp:hover{
    transition: 0.5s;
    background: linear-gradient(45deg, green, rgb(24, 185, 24), rgb(0,255,60));
    color: black;
    border: 1px solid black;
    border-radius: 100px;
    box-shadow: 25px 25px 15px rgb(54, 54, 54);
    transform: scale(1.1);
}


.topright{
    transition: 0.5s;
    cursor: pointer;
    width:	auto;
	height: 5%;
	margin-top: 1.5%;
    margin-right: 1.5%;
	font-size: 50px;
	font-family: Monaco, Bold;
    background: linear-gradient(45deg, green, #0e5734); 
    border: 10px solid;
    border-radius: 100px;
    box-shadow: 15px 18px 15px rgb(54, 54, 54);
    text-align: center;
    float: right;
}

.topright:hover{
    transition: 0.5s;
    background: linear-gradient(45deg, #0e5734, green);
    color: limegreen;
    border: 10px solid black;
    border-radius: 100px;
    box-shadow: 25px 25px 15px rgb(54, 54, 54);
    transform: scale(1.1);
    transform: rotateZ(5deg);
}

.topleft{
    transition: 0.5s;
    cursor: pointer;
    width:	auto;
    height: auto;
    margin-top: 1.5%;
    margin-left: 1.5%;
    font-size: 100px;
    font-family: Monaco, Bold;
    background: linear-gradient(45deg, green, #0e5734); 
    border: 10px solid;
    border-radius: 100px;
    box-shadow: 15px 18px 15px rgb(54, 54, 54);
    text-align: center;
    float: left;
    
}
    
.topleft:hover{
    transition: 0.5s;
    background: linear-gradient(45deg, #0e5734, green);
    color: limegreen;
    border: 10px solid black;
    border-radius: 100px;
    box-shadow: 25px 25px 15px rgb(54, 54, 54);
    transform: scale(1.1);
    transform: rotateZ(5deg);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}



.img-container {
    text-align: center;
    display: flex;
    width: 50%;
    height: auto;
  }

.lsdiv{
    display: flex;
    position: fixed;
    float: right;
    flex-flow: wrap;
    width: 100%;
    height: 7.5%;
    font-size: 150%;
    background-color:#2fa337;
    border-radius: 0px;
    border: 2px solid black;
    z-index: 1;
    opacity: 0.8;
    padding-left: 1%;
    padding-right: 1%;
}

.lsdiv a{
    text-decoration: none;
    font-family: Monaco;
    color: white;
    opacity: 1;
    z-index: 1;
}




p{
    display:flex;
    text-align: center;
    font-size: x-large;
    color: white;
    font-family: Monaco;
}
